
@media screen and (max-width:1245px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px)
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
    &__scrolldown
      display: none
  .nav
    display: none
  .contacts
    &__phone
      color: $light
      text-decoration: none
  .col
    &:nth-of-type(2)
      .card__title
        margin-bottom: 2rem
    &:nth-of-type(3)
      .card__title
        margin-bottom: 0.5rem


@media screen and (max-width: 760px)
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4.28rem
  .card
      &__text
        margin-left: 0


@media screen and (max-width: 570px)
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__btn
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scrolldown
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__btn, 
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
      font-size: 0.92rem
    &__send-btn
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
      font-size: 0.92rem
  .section-title
    &__heading
      font-size: 1.57rem

@media screen and ( max-height: 595px )
  .hero
    &__scrolldown
      display: none