.section
  &-title
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    &__heading
    font-size: 0.95rem
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::after, &::before
        content: ''
        width: 2.28rem
        height: 0.142rem
        margin: 0 0.714rem
        background-color: $primary
        border: 1px solid $primary
        border-radius: 30px


